<div class="container">
  <ul class="tabs">
    <li class="tab col s3"><a href="#problems" class="grey-text text-darken-4">Problems</a></li>
    <li class="tab col s3"><a href="#results" class="grey-text text-darken-4">Results</a></li>
    <li class="tab col s3"><a href="#photos" class="grey-text text-darken-4">Photos</a></li>
  </ul>

  <div class="row">
    <div id="problems" class="col s12 white">
      <div ng-repeat="contest in contest_problems">
        <h5>{{contest.year}} Problems</h5>
        <div class="row">
          <div class="col l6 s12">
            <span class="archive-header">Individuals</span>
            <ul class="collection">
              <li class="collection-item" ng-repeat="subject in contest.individuals"><div>{{subject.name}} <a target="_self" ng-href="/archive/{{subject.solutions}}" class="secondary-content red-text text-darken-2 solutions-link">Solutions</a><a target="_self" ng-href="/archive/{{subject.problems}}" class="secondary-content red-text text-darken-2 problems-link">Problems</a></div></li>
            </ul>
          </div>
          <div class="col l6 s12">
            <span class="archive-header">Others</span>
            <ul class="collection">
              <li class="collection-item" ng-repeat="subject in contest.others"><div>{{subject.name}} <a target="_self" ng-href="/archive/{{subject.solutions}}" class="secondary-content red-text text-darken-2 solutions-link">Solutions</a><a target="_self" ng-href="/archive/{{subject.problems}}" class="secondary-content red-text text-darken-2 problems-link">Problems</a></div></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="results" class="col s12 white">
      <div ng-repeat="contest in contest_results">
        <h5>{{contest.year}} Results</h5>
        <div class="row">
          <div class="col l6 s12">
            <span class="archive-header">Individuals</span>
            <ul class="collapsible" data-collapsible="expandable">
              <li ng-repeat="subject in contest.individuals">
                <div class="collapsible-header"><i class="fa fa-angle-down" aria-hidden="true"></i>{{subject.name}}</div>
                <div class="collapsible-body"><ul class="results-list">
                  <li ng-repeat="(rank, winners) in subject.results">{{rank}}. {{commatize(winners)}}</li>
                </ul></div>
              </li>
            </ul>
          </div>
          <div class="col l6 s12">
            <span class="archive-header">Teams</span>
            <ul class="collapsible" data-collapsible="expandable">
              <li ng-repeat="subject in contest.teams">
                <div class="collapsible-header"><i class="fa fa-angle-down" aria-hidden="true"></i>{{subject.name}}</div>
                <div class="collapsible-body"><ul class="results-list">
                  <li ng-repeat="(rank, winners) in subject.results">{{rank}}. {{commatize(winners)}}</li>
                </ul></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="photos" class="col s12 white">
      <div class="row">
        <div class="col s3" ng-repeat="album in contest_photos">
          <div class="card">
            <div class="card-image gallery-thumbnail">
              <img src="{{album.thumbnail}}">
              <span class="card-title">{{album.year}} Photos</span>
            </div>
            <div class="card-action">
              <a href="{{album.link}}" target="_blank" class="red-text text-darken-2"><i class="fa fa-external-link" aria-hidden="true"></i> View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
