<script>
$(document).ready(function(){
    $('ul.tabs').tabs()
    $('.collapsible').collapsible()
    $('.materialboxed').materialbox()
  })
</script>

<div class="container">
  <ul class="tabs">
    <li class="tab col s3"><a href="#problems" class="grey-text text-darken-4">Problems</a></li>
    <li class="tab col s3"><a href="#results" class="grey-text text-darken-4">Results</a></li>
    <li class="tab col s3"><a href="#photos" class="grey-text text-darken-4">Photos</a></li>
  </ul>

  <div class="row">
    <div id="problems" class="col s12 white">
      <div ng-repeat="contest in contest_problems">
        <h5>{{contest.year}} Problems</h5>
        <div class="row">
          <div class="col l6 s12">
            <span class="archive-header">Individuals</span>
            <ul class="collection">
              <li class="collection-item" ng-repeat="subject in contest.individuals"><div>{{subject.name}} <a ng-href="/assets/docs/past-tests/{{subject.solutions}}" class="secondary-content red-text text-darken-2 solutions-link">Solutions</a><a ng-href="/assets/docs/past-tests/{{subject.problems}}" class="secondary-content red-text text-darken-2 problems-link">Problems</a></div></li>
            </ul>
          </div>
          <div class="col l6 s12">
            <span class="archive-header">Others</span>
            <ul class="collection">
              <li class="collection-item" ng-repeat="subject in contest.others"><div>{{subject.name}} <a ng-href="/assets/docs/past-tests/{{subject.solutions}}" class="secondary-content red-text text-darken-2 solutions-link">Solutions</a><a ng-href="/assets/docs/past-tests/{{subject.problems}}" class="secondary-content red-text text-darken-2 problems-link">Problems</a></div></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="results" class="col s12 white">
      <div ng-repeat="contest in contest_results">
        <h5>{{contest.year}} Results</h5>
        <div class="row">
          <div class="col l6 s12">
            <span class="archive-header">Individuals</span>
            <ul class="collapsible" data-collapsible="expandable">
              <li ng-repeat="subject in contest.individuals">
                <div class="collapsible-header"><i class="fa fa-angle-down" aria-hidden="true"></i>{{subject.name}}</div>
                <div class="collapsible-body"><ul class="results-list">
                  <li ng-repeat="(rank, winners) in subject.results">{{rank}}. {{do_something(winners)}}</li>
                </ul></div>
              </li>
            </ul>
          </div>
          <div class="col l6 s12">
            <span class="archive-header">Teams</span>
            <ul class="collapsible" data-collapsible="expandable">
              <li ng-repeat="subject in contest.teams">
                <div class="collapsible-header"><i class="fa fa-angle-down" aria-hidden="true"></i>{{subject.name}}</div>
                <div class="collapsible-body"><ul class="results-list">
                  <li ng-repeat="(rank, winners) in subject.results">{{rank}}. {{do_something(winners)}}</li>
                </ul></div>
              </li>
            </ul>
          </div>
        </div>
        <script>$(document).ready(function() {
          $('.collapsible').collapsible({expandable: true})
        })</script>
      </div>
    </div>

    <div id="photos" class="col s12 white">
      <div ng-repeat="album in contest_photos">
        <h5>{{album.year}} Photos</h5>
        <ul class="photos-list" style="vertical-align: middle">
          <li ng-repeat="photo in album.photos"><img class="materialboxed" width="80px" ng-src="assets/img/gallery/{{photo}}"></li>
        </ul>
        <br class="clear-float">
        <script>$(document).ready(function() {
          $('.materialboxed').materialbox()
        })</script>
      </div>
    </div>
  </div>
</div>
