<div class="section white">
  <div class="container">
    <h4>Privacy</h4>
    <h5>Information collected by CMIMC</h5>
    <p>At the Carnegie Mellon Informatics and Mathematics Competition (CMIMC), we collect contestant and chaperone information upon registration and retain the information. This information consists of chaperone name, phone number, email address, contestant name, age, topics, and t-shirt size. CMIMC also retains all the contestants’ tests.</p>
    <h5>Access to information collected by CMIMC</h5>
    <p>All of this information listed above will not be publicly released or published for all future years and will only be made accessible to official CMIMC staff. In addition, contestants may access their own past tests upon request by email to <a href="#" class="red-text text-darken-2">ctj@math.cmu.edu</a>, which must be sent from the contestant’s chaperone’s email under which the contestant participated in the contest.</p>
    <h5>Use of information collected by CMIMC</h5>
    <p>Information collected by CMIMC is used to improve future CMIMC years by giving us a better idea of the audience of the competition, allowing us to accommodate the contestants.</p>
  </div>
</div>
