<script>
  window.scrollTo(0,0)
</script>

<div class="section white">
  <div class="container">
    <div ng-repeat="member in staff_list">
      <div class="row staff-row" ng-if="$index % 4 == 0">
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
              <img ng-src="assets/img/staff/{{staff_list[$index].photo}}">
            </div>
            <div class="card-content center-align">
              <span class="card-title">{{staff_list[$index].name}}</span>
              <p>{{staff_list[$index].description}}</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
              <img ng-src="assets/img/staff/{{staff_list[$index+1].photo}}">
            </div>
            <div class="card-content center-align">
              <span class="card-title">{{staff_list[$index+1].name}}</span>
              <p>{{staff_list[$index+1].description}}</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
              <img ng-src="assets/img/staff/{{staff_list[$index+2].photo}}">
            </div>
            <div class="card-content center-align">
              <span class="card-title">{{staff_list[$index+2].name}}</span>
              <p>{{staff_list[$index+2].description}}</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
              <img ng-src="assets/img/staff/{{staff_list[$index+3].photo}}">
            </div>
            <div class="card-content center-align">
              <span class="card-title">{{staff_list[$index+3].name}}</span>
              <p>{{staff_list[$index+3].description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
