<script>
  window.scrollTo(0,0)
</script>

<div class="section white">
  <div class="container">
    <h4>Terms of Service</h4>
    <p>The Carnegie Mellon Informatics and Mathematics Competition (CMIMC) places staff members on the day of the competition to organize the contestants and chaperones. The CMIMC and her staff reserve the right to disqualify contestants and chaperones who exhibit disruptive and or abusive behavior, including but not limited to noncompliance with CMIMC staff, cheating on tests, use of Carnegie Mellon University facilities not involved with the CMIMC, and otherwise not complying with CMIMC rules and instructions.</p>
    <h4>About the Privacy and Terms</h4>
    <p>The Carnegie Mellon Informatics and Mathematics Competition (CMIMC) will constantly modify the privacy policy and terms of service: services offered by CMIMC may be modified or removed and new services may be offered.</p>
  </div>
</div>
