<script>
$( document ).ready(function() {
  $('.modal').modal()
})
</script>

<div class="section white">
  <div class="container">
    <h4>Account<a class="waves-effect waves-light btn right red darken-2" data-target="add-team">Add Team</a></h4>
    <div id="add-team" class="modal">
      <div class="modal-content">
        <h5>Add Team</h5>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input id="team_name" type="text" class="validate">
                <label for="team_name">Team Name</label>
              </div>
              <div class="input-field col s6">
                <input id="chaperone_name" type="text" class="validate">
                <label for="chaperone_name">Chaperone Name</label>
              </div>
              <div class="input-field col s6">
                <input id="chaperone_email" type="email" class="validate">
                <label for="chaperone_email">Chaperone Email</label>
              </div>
              <div class="input-field col s6">
                <input id="chaperone_phone" type="tel" class="validate">
                <label for="chaperone_phone">Chaperone Phone</label>
              </div>
            </div>
            <p>Students</p>
            <div class="row">
              <div class="input-field col s6">
                <input id="student_name_1" type="text" class="validate">
                <label for="student_name_1">Student 1 Name</label>
              </div>
              <div class="input-field col s6">
                <input id="student_age_1" type="number" class="validate">
                <label for="student_age_1">Student 1 Age</label>
              </div>
              <div class="input-field col s6">
                <select id="student_topics_1">
                  <option>Algebra, Combinatorics</option>
                  <option>Algebra, Computer Science</option>
                  <option>Algebra, Geometry</option>
                  <option>Algebra, Number Theory</option>
                  <option>Combinatorics, Computer Science</option>
                  <option>Combinatorics, Geometry</option>
                  <option>Combinatorics, Number Theory</option>
                  <option>Computer Science, Geometry</option>
                  <option>Computer Science, Number Theory</option>
                  <option>Geometry, Number Theory</option>
                </select>
                <label>Student 1 Topics</label>
              </div>
              <div class="input-field col s6">
                <select id="student_tshirt_1">
                  <option>XS</option>
                  <option>S</option>
                  <option selected>M</option>
                  <option>L</option>
                  <option>XL</option>
                  <option>XXL</option>
                </select>
                <label>Student 1 T-Shirt</label>
              </div>
              <div class="col s6">
                <a class="waves-effect waves-light btn red darken-2">Add Student</a>
              </div>
              <div class="col s6">
                <button class="btn waves-effect waves-light right red darken-2" type="submit" name="action">Add Team</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect btn-flat">Cancel</a>
      </div>
    </div>





    <h5>The Sexy Primes<a class="waves-effect waves-light btn right red darken-2" data-target="edit-team123">Edit Team</a></h5>
    <div id="edit-team123" class="modal">
      <div class="modal-content">
        <h5>Edit Team</h5>
      </div>
      <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect btn-flat">Cancel</a>
      </div>
    </div>
    <p>Chaperone: <b>Cody Johnson</b> - ctj@math.cmu.edu / (561) 676-5696</p>
    <p>Registration Fee: $75 - <span class="red-text text-darken-2">Paid</span></p>
    <table class="striped">
      <thead>
        <tr>
          <th>Student</th>
          <th>Age</th>
          <th>Topics</th>
          <th>T-Shirt</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Elizabeth Cao</td>
          <td>17</td>
          <td>Combinatorics, Computer Science</td>
          <td>M</td>
        </tr>
        <tr>
          <td>Rithvik Pasumarty</td>
          <td>17</td>
          <td>Computer Science, Geometry</td>
          <td>L</td>
        </tr>
        <tr>
          <td>Weihua Zhu (Aiden)</td>
          <td>17</td>
          <td>Algebra, Geometry</td>
          <td>S</td>
        </tr>
        <tr>
          <td>Xuyang Li (Irio)</td>
          <td>17</td>
          <td>Algebra, Number Theory</td>
          <td>S</td>
        </tr>
        <tr>
          <td>Zihao Li</td>
          <td>18</td>
          <td>Computer Science, Number Theory</td>
          <td>L</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
