<div class="section white">
  <div class="container">
    <div class="row staff-row">
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-image">
            <img src="assets/img/staff/cody-johnson.jpg">
          </div>
          <div class="card-content center-align">
            <span class="card-title">Cody Johnson</span>
            <p>I do my work using a DFS: start a task, get distracted for a while, then come back and do the task at hand.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-image">
            <img src="assets/img/staff/andrew-kwon.jpg">
          </div>
          <div class="card-content center-align">
            <span class="card-title">Andrew Kwon</span>
            <p>A Korean.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-image">
            <img src="assets/img/staff/david-altizio.jpg">
          </div>
          <div class="card-content center-align">
            <span class="card-title">David Altizio</span>
            <p>My motto is that no geometry problem should be solved using coordinates.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-image">
            <img src="assets/img/staff/patrick-lin.jpg">
          </div>
          <div class="card-content center-align">
            <span class="card-title">Patrick Lin</span>
            <p>Wood VI.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
